* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    padding: 25px;

}

#statusDiv {
    padding: 50px 10px ;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#warningDiv {
    padding: 30px 10px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    font-weight: bold;
}

#boardDiv {
    width: 301px;
    height: 301px;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: calc(97% / 3);
    height: calc(97% / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    border: 0.08px solid black;
}
